streamlit
pillow
python-docx
pdf2image
python-dotenv
faiss-cpu


langchain
langchain-community
langchain-core
langchain-groq
langchain-openai
langchain-google-genai


openai
huggingface_hub


google-generativeai
